@font-face {
    font-family: starJedi;
    src:    url("../fonts/Starjedi.woff") format("woff"),
            url("../fonts/Starjedi.ttf") format("truetype");
}

html, body {
    font-family: starJedi, Arial, Helvetica, sans-serif;
}

#titleScreen {
    width: 100%;
    height: 100vh;
    background: url("../images/star_wars_stormtroopers_suit.jpg") center center no-repeat;
    background-size: cover;
}

#titleSection {
    position: relative;
    width: 65%;
    left: -80px;
    height: 100vh;
    float: right;
    overflow: hidden;
    perspective: 700px;
}

#continue {
    color: whitesmoke;
    position: absolute;
    top: 40px;
    left: 50%;
    text-align: center;
    z-index: 5;
    opacity: 0;
    animation: blink 3s linear 5s infinite;
    transform: translateX(-50%);
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#crawl {
    position: relative;
    width: 200%;
    color: #fffe0f;
    font-size: 4em;
    top: -11000px;
    transform: rotateX(45deg) translateZ(-5500px);
    transform-origin: 50% 100%;
    animation: 30s linear crawl;
}

#crawl p {
    text-align: left;
}

#title {
    font-size: 5em;
}

@keyframes crawl {
    0% {
        top: 3000px;
        transform: rotateX(45deg) translateZ(2500px);
    }
    100% {
        top: -11000px;
        transform: rotateX(45deg) translateZ(-5500px);
    }
}

#fadeBlock {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 80%;
    height: 400px;
}

#fade {
    width: 100%;
    height: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

#black {
    width: 100%;
    height: 200px;
    background-color: black;
}

#gameScreen {
    width: 100%;
    height: 100vh;
    background: url("../images/star_wars_xwing.jpg") center center no-repeat;
    background-size: cover;
}

#gameScreen {
    color: #050505;
}

#gameHeader {
    width: 100%;
    text-align: center;
    font-size: 2em;
}

#mainContent {
    margin-left: 50px;
}

#characterSection {
    height: 200px;
}

.character {
    display: inline-block;
    text-align: center;
    padding: 8px 20px 8px 20px;
    background-color: whitesmoke;
    cursor: pointer;
    margin: 10px;
}

.green {
    border: 4px solid green;
    transition: .3s all;
}

.green:hover {
    border: 4px solid darkgreen;
}

.red {
    border: 4px solid #ff0000;
    transition: .3s all;
}

.red:hover {
    border: 4px solid #bb0000;
}

.selectable {
    transition: .3s all;
}

.selectable:hover {
    transform: scale(1.1);
}

#enemiesSection {
    height: 200px;
}

.button {
    font-family: starJedi, Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    border: 2px solid #050505;
    color: #050505;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    font-size: 1.5em;
    margin: 10px 0px 10px 0px;
    cursor: pointer;
    transition: all .4s ease;
}

.button:hover {
    background-color: #bb0000;
    color: whitesmoke;
    border: 2px solid whitesmoke;
}

#defenderSection {
    height: 200px;
}

#battleError {
    color: #bb0000;
}

